<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/product.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->

<extend name="Public/base" />
<block name="content">	  	
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">产品中心</li>
			</ol>
		</div>
		<h3 class="prod">产品分类</h3>
  		<div class="classify pro_div_find">
  			<ul id="cate_tabs" class="find1">
  				<!-- <li><a href="javascript:void(0);">高杆灯</a></li>
  				<li><a href="javascript:void(0);">中杆灯</a></li>
  				<li><a href="javascript:void(0);">道路灯</a></li>
  				<li><a href="javascript:void(0);">庭院灯</a></li>
  				<li><a href="javascript:void(0);">室内灯</a></li> -->

  				<volist name="xilie" id="vo">
  				<li><a href="javascript:void(0);" id='{$vo.id}' onclick="javascript:void(0)">{$vo.name}</a></li>
				</volist>
  			</ul>
  		</div>
  		<div id="cate_tab_content">
			<div class="filter pro_div_find" id="cate_tab1">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;">
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul class="find2">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);" value="7">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li> -->
		  				<volist name="guangyuan" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul class="find3">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li> -->
		  				<volist name="yongtu" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光通量分布：</p>
		  			<ul class="find4">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li> -->
		  				<volist name="guangtongliang" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  	</div>
  		</div>
		<div class="show clears" id="showtime">
			<volist name="find" id="vo">
				<div name="showtime" class="pro_page_num chage_page">
					<a href="{:U('Home/Show/show')}/id/{$vo.id}">
						<img src="__PUBLIC__/{$vo.picture}" />
						<h3>{$vo.name}</h3>
						<span>查看详细信息</span>
					</a>
				</div>
			</volist>
		</div>
		<div id="barcon"></div>
	</div>
	<script>
		window.onload=function(){
			goPage(1,8);
			var arra = new Array();
			arra.xilie=1;
			arra.guangyuan=0;
			arra.yongtu=0;
			arra.guangtongliang=0;

			var arra2 = new Array();
			arra2[0]=1;
			arra2[1]=0;
			arra2[2]=0;
			arra2[3]=0;
			$('.pro_div_find a').click(function(){
				setTimeout(function(){

					arra.xilie=$('.pro_henglan a').attr('id');
					console.log("a"+arra.xilie);
					arra2[0]=arra.xilie;

					var seled = $('.seled');

					arra.guangyuan=seled[0].id;
					console.log("b"+arra.guangyuan);
					arra2[1]=arra.guangyuan;

					arra.yongtu=seled[1].id;
					console.log("c"+arra.yongtu);
					arra2[2]=arra.yongtu;

					arra.guangtongliang=seled[2].id;
					console.log("d"+arra.guangtongliang);
					arra2[3]=arra.guangtongliang;

					$.ajax({
				        url :"{:U('Home/Product/gett')}",
				        data:{"xilie":arra.xilie,"guangyuan":arra.guangyuan,"yongtu":arra.yongtu,"guangtongliang":arra.guangtongliang},
				        type:'GET',
				        dataType:"json",       
				        // error:function(){
				        //      console.log("chucuo");
				        // },
				        success:function(data){    
					        $('.show>div[name="showtime"]').remove();
					        console.log(data.length);
					        if (data.length >=1) {
					        	for(var i=0 ;i<data.length;i++){
					        	var vals ='';
					        	vals+="<div name=\"showtime\"><a href=\"{:U('Home/Show/show')}/id/"+data[i].id+"\"><img src=\"__PUBLIC__\/"+data[i].picture+"\" /><h3>"+data[i].name+"</h3><span>查看详细信息</span></a></div>";
					        	$(vals).appendTo("#showtime");
					        	}	
					        }else{
					        	var vals ='';
					        	vals+="<div name=\"showtime\" style=\"width:98%;height:240px;border:0px;\"><h5 style=\"margin-top:20px;font-size:20px;color:black;\">当前类别信息正在增添中，请稍后尝试</h5></div>";
					        	$(vals).appendTo("#showtime");
					        }
				        }
					    
	    			});
				},50)
			})
		}
	</script>
</block>