<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/news.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content">	  	
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">新闻中心</li>
			</ol>
		</div>
  		<!--广告图-->
  		<div class="news_bannar">
			<img src="__PUBLIC__/home/images/2.jpg" alt="">
  		</div>
  		<div class="new_content">
  			<!-- 最新产品 -->
			<div class="new_con_top">
				<div>					
					<div class="program clears" id="news_tabs">
						<volist name="newscate" id="vo">
							<div>
								<li><a href="javascript:void(0);">{$vo.name}</a></li>
								<span></span>
							</div>
						</volist>										
					</div>
				</div>
			</div>
			<div id="news_tab_content">
				<volist name="news" id="val">
					<div class="new_con_bottom clears">
						<volist name="val['sub']" id="sub">
							<div class="bottom_out">
								<div class="new_img">
									<img src="{:U($sub['src'])}" />
								</div>
								<div class="new_text">
									<h3><a href="{:U('Home/Detail/detail')}/id/{$sub.id}">{$sub.title}</a></h3>
									<h5>{$sub.date}</h5>
									<p>{$sub.content|strip_tags|msubstr=0,90,'utf-8',true}</p>
									<a class="more" href="{:U('Home/Detail/detail')}/id/{$sub.id}">详情 >></a>
								</div>
							</div>
						</volist>
					</div>
				</volist>
			</div>
		</div>
	</div>
</block>