<!-- <link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/conceal.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content">
	<!--content-->
	<div class="content clears">
  		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">成功案例</li>
			</ol>
		</div>
  		<div class="case">
  			<img src="__PUBLIC__/home/images/case1.jpg" />
  			<p>——光是人与环境相互联系的媒介；<br/>
  			——光，人们认识并改造着周边的生活环境；<br/>
  			——光影，优化城市生活、品味、格调；<br/>
 
 			 ——城市夜环境作为城市生活环境的一部分，也反映着城市内部人们的生活状态。</p>
 			 <p>2016年2月信达科技依西安高新区规划局邀请开始对高新区及主干道建筑夜景照明进行楼体照明、景观照明、广场照明等照明规划及照明设计工作。这标志着高新区夜景照明进一步走向夜景照明整体化、单体建筑照明个性化、全局照明控制系统化、街道景观照明舒适化的新开始。</p>
 			 <img src="__PUBLIC__/home/images/case2.jpg">
 			 <img src="__PUBLIC__/home/images/case3.jpg">
 			 <p>夜景缺少对建筑载体的整体表现，多以勾勒手法为主，简单、生硬，艺术感差。过多过艳的色彩不适宜出现在主干道沿线。<br/>
 			 建筑景观夜景照明规划设计项目范围：唐延路：北起二环路，南至丈八东路，全长6.5KM，沣惠南路：北起昆明路，南至科技七路，全长5KM锦业路：东起西沣路，西至丈八四路，全长2.1KM。单体建筑300余栋。
 			 </p>
  		</div>
  	</div>
</block>

  	
  		
	