.content_intro{
	margin-left: 14%;
	width: 72%;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
}
.intro_left{
	float: left;
	width:25%;
	height:160px;
	margin-top: 10px;
}
.intro_left h4{
	background: #F6F6F6;
	padding-left: 2%;
	line-height: 40px;
	border-bottom:1px #9C9C9C solid; 
}
.intro_left li{
	list-style:none;
	line-height: 40px;
	padding-left: 8%;
	cursor: pointer;
	border-top: 1px solid #9C9C9C;
	box-szing:border-box;
}
.intro_left ul{
	border: 1px solid #DBDBDB;
	box-szing:border-box;
}
.hide{
	display: none;
}
.selected{
	background: #00A2CA;
}
.intro_right{
	float: right;
	margin-left: 5%;
	width:70%;
	margin-top: 10px;
	border: 1px solid #DBDBDB;
	box-sizing:border-box;
}
.intro_right h4{
	background: #F6F6F6;
	padding-left: 1%;
	line-height: 40px;
	border-bottom:1px #9C9C9C solid; 
}
.intro_right > img{
	margin-top: 5px;
	height:200px;
	width: 90%;
	padding-left: 5%;
}
.intro_right h5{
	text-align: center;
}
.intro_right p{
	text-indent: 2em;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 14px;
	padding-bottom: 5px;
}
.office{
	height:200px;
	width:100%;
	padding-left: 4%;
}
.office img{
	float: left;
	width:44.5%;
	height:200px;
	padding-left: 1%;
}
.office1{
	height:200px;
	width:100%;
	margin-top: 5px;
	padding-left: 4%;
}
.office1 img{
	float: left;
	width:29.3%;
	height:200px;
	padding-left: 1%;
}
.honor{
	height:200px;
	width:100%;
	padding-left: 4%;
}
.honor img{
	float: left;
	width:29.3%;
	height:200px;
	padding-left: 1%;
}
.honour img{
	width: 24.5%;
	height:150px;
}
video{
	width: 94%;
	height:350px;
	margin-top: 10px;
	padding-left: 3%;
}