*{
	margin: 0;
	padding: 0;
}
.clear:after{
	content:""; 
	display:block;
	clear:both;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.admin_top{
	background-color: #222222;
}
.admin_top_left{
	width:84%;
	float: left;
	padding-left: 1%;
	font-size: 18px;
	line-height: 40px;
	color: #eee;
}
.admin_top_right{
	float: left;
	width: 15%;
	line-height: 40px;
	color: #eee;
	font-size: 14px;
}
.admin_top_right i{
	color: #eee;
	padding-right: 2%;
}
.admin_top_right a{
	padding-left: 15%;
	color: #eee;
}
.admin_top_right a:hover{
    color:lightblue;
}
.bottom_left{
    position: fixed;
	float: left;
	width: 15%;
	height: 100%;
	background-color: rgb(238,238,238);
}
.bottom_left ul{
	padding-top:5px; 
	width:100%;
}
.bottom_left a{
	display: block;
	width: 100%;
	font-size: 15px;
	color: #000;
}
.bottom_left li{
	width: 93%;
	line-height: 35px;
	padding-left: 7%;
	border-bottom: 1px solid #e5e5e5;
}
.bottom_left i{
	color: #999;
	width: 8%;
}
i.fa.fa-chevron-down{
	float: right;
	position:relative;
	line-height: 35px;
	right: 10%;
}
.sel{
	transform:rotate(180deg);
}
.hide{
	display: none;
}
.bottom_left_child{
	width: 100%;
}
.bottom_left_child li a{
	margin-left:-8%; 
	width: 100%;
	padding-left:13%; 
}
.bottom_left li:hover{
	color: #418cf1;
}
.bottom_left_child a:hover{
	display: block;
	background: #fff;
	width: 90%;
}
.bottom_right{
	float: right;
	width:85%;
}
.bread{
	background: #f5f5f5;
	height: 38px;
	width: 98%;
    padding-left:2%;
    margin-bottom:20px;  
}
.bread li{
	float: left;
	line-height: 38px;
	font-size: 15px;
}

/*ifram*/
.panel{
	border: 1px solid #ddd;
	border-radius:4px; 
	margin-left: 2%;
	/*margin-top: 15px;*/
}
.panel-head{
	background: #F5FAFE;
	padding: 10px 15px;
	border-radius:4px 4px 0 0;
	border-bottom:1px solid #ddd;
    font-size: 15px; 
    font-weight: bold; 
}
.padding{
	padding:10px;
}
.padding button{
	padding: 10px 15px;
	border:1px solid #09c; 
	font-size: 14px;
	border-radius:4px;
	background: transparent; 
}
.padding button:hover{
	background: #09c;
}
.padding a{
	color: #000;
}
.result-tab{
	border-collapse:collapse;
	border: 1px solid #ddd; 
	width: 100%;
}
tbody{
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}
tr:nth-child(odd){
	background: #F5FAFE;
}
.result-tab tr{
	line-height: 35px;
}
.result-tab th{
	font-weight: normal;
	border-bottom:1px solid #ddd;
	border-right:1px solid #e1e1e1;  
}
.result-tab td{
	text-align: center;
	padding: 5px ;
	font-size: 15px;
	border-bottom:1px solid #ddd; 
	border-right:1px solid #e1e1e1; 
}
.result-tab td a{
	color: #000;
}
.result-tab td a:hover{
	color: #09c;
}
.ban_img,.news_img,.pro_img{
	vertical-align:middle;
	width: 100px;

}
/*.ban_img{
	vertical-align:middle;
	width: 200px;
	height: 50px;
}*/

/*登录*/
.container{
    width:100%;
    height:100%;
    position: absolute;
    overflow:hidden;
    background: url(../images/login_bg.jpg)  no-repeat;
    background-size: 100% 100%;
}
.container form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    width:370px;
    height:390px;
    font-size: 14px;
}
.login-panel{
    background:#d1e7ef;
    opacity: 0.7;
    width:100%;
    height:390px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
}
.login-panel-head, .login-panel-body, .login-panel-footer{
    padding-top: 20px;
}
.login-panel-head h1{
    font: inherit;
    font-size:24px;
}
.form-group{
    padding-bottom: 25px;
}
.field input{
    padding: 10px;
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.field i{
    position:absolute;
    margin-left:-6%;
    margin-top: 3%;
}
.field img{
    position: absolute;
    right:7.7%;
    margin-top:1px;
    height: 44px;
    width: 28%; 
    border-radius: 0 4px 4px 0;
    border-left: solid 1px #ddd;
}
.login-panel-footer input{
    width:86%;
    color:#fff;
    background: #0ae;
    border: solid 1px #0ae;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    height: 46px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}
.myform input:required:valid{
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.myform input:focus:invalid{
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

/*edit*/
.edit{
    margin-left: 2%;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.edit-head{
    background-color: #fcfcfc;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    font-weight: bold;
}
.edit-body{
    margin-top: 20px;
    font-size: 15px;
    color:#333;
}
.place span{
    height: 35px;
    line-height: 35px;
}
.require-red {
    color: #f60;
    font-family: serif;
}
.label{
    height: 35px;
    line-height: 35px;
    width:15%;
    float:left;
    text-align: right;
}
.place input{
    padding: 10px;
    width: 20%;
    line-height: 22px;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.place textarea{
    width:40%;
    padding:10px;
    border: solid 1px #ddd;
    border-radius: 4px; 
    resize:none;
}
.place select{
    width:10%;
    margin-top:4px;
    padding:5px;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.place button.submit{
    padding: 10px 30px;
    border: solid 1px #0ae;
    border-radius: 4px;
    background: #0ae;
    color:#fff;
}
.place button.back{
    padding: 10px 30px;
    border: solid 1px #ddd;
    border-radius: 4px;
    background: #ddd;
    color:#000;
}
.place button.submit:hover{
    background: #00bcd4;
}
.place button.back:hover{
    background: #ccc;
}
.place .preview{
    margin-left: 15%;
    width:40%;
    height:200px;
    border: solid 1px #ddd;
    border-radius: 4px;
}
.place .editor{
    margin-left: 15%;
    width:80%;
    height:600px;
}

/*聊天界面*/
.conleft{
    float: left;
    width: 15%;
    margin-left:5%; 
}
.chat{
    float: left;
    width: 60%;
    height: 420px;
    border: 1px solid #eee;
    border-radius:4px; 
    background:#eee;
    margin-bottom:20px;
}
.chatshow{
    width: 90%;
    height: 300px;
    margin-top:20px;
    margin-left:5%; 
    padding-bottom: 15px;
    overflow: auto;
    border: 1px solid #ddd;
    background: rgb(243,248,251);
}
.texts{
    width: 89%;
    height: 35px;
    margin-top:10px;
    margin-left: 5%;
    border: 1px solid #ddd;
    resize:none;
}
.sends {
    width: 15%;
    height: 25px;
    float: right;
    margin-right: 5%;
    background: #09c;
    border:1px solid #09c;
    border-radius:4px;
    color: #fff;
}
.textt img{
    height:16px;
    width: 16px;
}
.textt .date1{
    padding-left: 3%;
    color: rgb(0,128,64);
    padding-top: 10px;
}
.textt .date2{
    padding-left:6%;
    color: rgb(255,128,0);
    font-size: 25px;
    padding-top: 10px;
}
.textts .date1{
    padding-left: 3%;
    color: rgb(56,56,254);
    padding-top: 10px;
}
.textts .date2{
    padding-left:6%;
    padding-top: 10px;
}