a{
	text-decoration:none;
}
li{
	list-style: none;
}
.news_bannar img{
	height: 400px;
	width: 72%;
	margin-left: 14%;
	margin-right: 14%;
}
.bread{
	width: 72%;
	margin-left: 14%;
	margin-right: 14%;
	padding-top: 5px;
	line-height: 45px;
	color: #00A2CA;
}
.bread a{
	color: #00A2CA;
}
.program{
	padding-top:10px; 
	padding-left: 14%;
	height:55px;
}
.program a{
	color: #00A2CA;
}
.program div{
	float: left;
	width: 100px;
	margin-right: 0.2%;
}
.program li{
	box-sizing:border-box;
	width: 100%;
	line-height: 35px;
	margin-bottom: -8px;
	float: left;
	border:solid #00A2CA 1px;
	text-align: center;
	font-size: 18px;
}
.bre_action li{
	color: #fff;
	background-color: #00A2CA;
}
.bre_action a{
	color: #fff;
}
.bre_action span{ 
	box-sizing:border-box;
	margin-left: 25px;
	font-size: 0;  
    line-height: 0;  
    border-width: 7px;  
    border-color: #00A2CA;  
    border-bottom-width: 0;  
    border-style: dashed;  
    border-top-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent;
} 

.new_con_bottom{
	box-sizing:border-box;
	border: solid #CCC 1px;
	width: 72%;
	margin-left: 14%;
	margin-right: 14%;
	margin-bottom: 40px;
}
.bottom_out{
	box-sizing:border-box;
	width: 96%;
	height: 200px;
	margin-top: 18px;
	margin-left: 2%;
	margin-right: 2%;
	border-bottom:solid #CCC 1px; 
}
.new_img{
	width: 25%;
	display: block;
	float: left;
}
.new_img img{
	width: 100%;
	height: 190px;
}
div.new_text{
	display: block;
	float: left;
	box-sizing:border-box;
	width: 74%;
	padding-left: 2%;
	padding-right: 1%;
}
.new_text h3 a{
	line-height: 45px;
	color:#7D9595;
}
.new_text h5{
	line-height: 20px;
	color: #666666;
}
.new_text p{
	height: 100px;
	color: #666666;
}
.new_text span{
	display: block;
	float: right;
	margin-right: 5%;
}
.new_text span a{
	color: #666666;
}