<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/show.css">
<script src="js/jquery.min.js"></script>
<script src="js/wrap.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content"> 	
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">产品展示</li>
			</ol>
		</div>
		<volist name="show" id="vo">
			<div class="product_detail">
				<div class="product_img">
					<div class="hides">
						<img id="large_img" src="{:U($vo['picture'])}" />
					</div>
					<ul id="imageslist">
						<li>
							<img id="small_img0" src="{:U($vo['picture'])}" />
						</li>
						<li>
							<img id="small_img1" src="__PUBLIC__/home/images/01.jpg" />
						</li>
						<li>
							<img id="small_img2" src="__PUBLIC__/home/images/02.jpg" />
						</li>
						<li>
							<img id="small_img3" src="__PUBLIC__/home/images/03.jpg" />
						</li>
					</ul>
				</div>
				<script>
					$(function(){
		  				for (var i = 0; i < $("#imageslist li").length; i++) {
	  						$('#small_img'+i).click(function(){
	  							$("#large_img").attr("src",this.src);
	  						})
	  						$("#imageslist li").click(function(){
	    						$(this).siblings('li').css('border','1px solid #ccc');
	    						$(this).css('border','1px solid #00A2CA');
	  						})
	  						
		  				}
		  			})
				</script>
				<div class="product_info">
					<span>产品名称：</span><br/>
					<h3>{$vo.name}</h3><br/><br/><br/>
					<span>详细介绍：</span><br/>
					<p>{$vo.jieshao}</p>
				</div>
			</div>
			<div class="tab">
				<span>产品参数</span>
			</div>
			<table width="80%" border="0" cellpadding="0" cellspacing="0" class="common">
			  <tbody>
				  <tr>
					<th width="20%" class="th_left">描 述</th>
					<th width="80%" class="th_right">参 数</th>
				  </tr>
				 
				  <tr>
					<td>工作电压</td>
					<td>AC100V~AC240V</td>
				  </tr>
				 
				  <tr>
					<td>电源频率</td>
					<td>50Hz~60Hz</td>
				  </tr>
				 
				  <tr>
					<td>额定功率</td>
					<td>多功率组合设计：560W/440W/300W/220W/150W/75W</td>
				  </tr>
				 
				  <tr>
					<td>色 &nbsp; &nbsp; 温</td>
					<td>冷白：5500K-6000K</td>
				  </tr>
				 
				  <tr>
					<td>-</td>
					<td>暖白：2700K-3000K</td>
				  </tr>
				 
				  <tr>
					<td>光源寿命</td>
					<td>≥50000小时</td>
				  </tr>
				 
				  <!-- <tr>
					<td>PF</td>
					<td>&gt;0.9</td>
				  </tr>
				 
				  <tr>
					<td>光 &nbsp; &nbsp; 效</td>
					<td>冷白 120 lm/W</td>
				  </tr>
				 
				  <tr>
					<td>-</td>
					<td>暖白105 lm/W</td>
				  </tr>
				 
				  <tr>
					<td>显色指数</td>
					<td>冷白：Ra≥70</td>
				  </tr>
				 
				  <tr>
					<td>-</td>
					<td>暖白：Ra≥80</td>
				  </tr>
				 
				  <tr>
					<td>防护等级</td>
					<td>IP65</td>
				  </tr>
				 
				  <tr>
					<td>机械碰撞防护等级&nbsp;</td>
					<td>IK08</td>
				  </tr>
				 
				  <tr>
					<td>震动等级</td>
					<td>1.5G（ANSI C136.31）</td>
				  </tr>
				 
				  <tr> -->
					<td>工作湿度</td>
					<td>10% ~ 95% (不凝结）</td>
				  </tr>
				 
				  <tr>
					<td>工作温度</td>
					<td>-30˚C ~ +50˚C</td>
				  </tr>
				 
				  <tr>
					<td>材 &nbsp; &nbsp; 质</td>
					<td>外壳：铝合金 &nbsp;支架：不锈钢</td>
				  </tr>
				 
				  <tr>
					<td>-</td>
					<td>灯罩：PC&nbsp;</td>
				  </tr>
				 
				  <tr>
					<td>盐雾等级</td>
					<td>ISO9227 &nbsp;720H</td>
				  </tr>
				 
				  <tr>
					<td>参考重量(含电源和支架)</td>
					<td>560W：26kg； 440W：22kg； 300W：16kg</td>
				  </tr>
				</tbody>
			</table>
			<div class="tab">
				<span>使用说明</span>
			</div>
			<ul class="con_list1">
			    {$vo.shuoming}
			</ul>
			<div class="tab">
				<span>注意事项</span>
			</div>
			<ul class="con_list2">
			   {$vo.zhuyi}
			</ul>
		</volist>
	</div>
</block>	