<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/news_show.css">
<script src="js/jquery.min.js"></script>
<script src="js/wrap.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content">
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
		<div class="bread">
		<ol>
		    <li><a href="{:U('Home/Index/index')}">首页</a></li>
		    <li class="active">新闻中心</li>
		</ol>
	</div>
		<div class="news_show_content">
			<h3>照明西式复古系列上市 用光智享奢雅生活</h3>	
			<span>发布时间：2017-05-17</span>		
		<p>在快节奏的生活状态下，去除古典主义的厚重与奢华，简化提炼，让生活回归简约舒适。在家居风格的选择上，既能享受便捷的生活方式，又能坚持个性化的生活主张，成为时下消费者关注的焦点。欧普照明作为行业领导者，深刻洞悉这一现状，全新推出的西式复古系列产品，用现代的设计手法及智能化应用，重新解读西方文化新态度，全新解构西式复古家居装饰方式，提供了一套装饰与功能为一体化的高品质照明解决方案，给空间增添了无穷意趣。</p>
		<h4>西方审美的新时代演绎——西式复古系列，用智慧引领个性化生活态度</h4>
		<p>此次推出的西式复古系列，契合了中高端市场的各类人群对家居风格的个性化需求，包含简约美式、华美焊锡、美式工业、现代欧式风四种风格。同时，更将智能技术注入到灯具设计中，应用智能的手段，实现手机APP、遥控器和墙壁开关控制方式三合一，灯光亮度和光色可以随心调节，可以让用户配合自己生理节律和心情，根据不同的季节以及场景需求来选择灯光的冷暖亮暗，体验智能带来的舒适随心的品质生活。</p>
		<img src="__PUBLIC__/home/images/1.jpg" alt="">
		<h4>追求惬意，美式简约打造自在生活</h4>
		<p>追求惬意的年轻一族，总是倡导舒适自在的生活理念。抛开种种繁琐，简单既本真。他们喜好简约美式的家居风格，用光打造自在随心的家居环境。无论是休闲娱乐、看书阅读、还是工作，简约美式系列都可智能调光，随意切换用光模式，方便又快捷。光成为他们自在生活中的最佳伙伴，让他们无忧无虑穿梭其中，没有任何复杂的束缚，生活充满自由的畅快感，就连创造的灵感与热情也能随时随地迸发。</p>
		<img src="__PUBLIC__/home/images/2.jpg" alt="">
		<h4>追求惬意，美式简约打造自在生活</h4>
		<p>追求惬意的年轻一族，总是倡导舒适自在的生活理念。抛开种种繁琐，简单既本真。他们喜好简约美式的家居风格，用光打造自在随心的家居环境。无论是休闲娱乐、看书阅读、还是工作，简约美式系列都可智能调光，随意切换用光模式，方便又快捷。光成为他们自在生活中的最佳伙伴，让他们无忧无虑穿梭其中，没有任何复杂的束缚，生活充满自由的畅快感，就连创造的灵感与热情也能随时随地迸发。</p>
		</div>
	</div>
</block>
		