<div class="footer">
	<div class="footer-left">
		<div class="btn">
			<a href="{:U('Home/Sitemap/sitemap')}"><i class="fa fa-map-signs"></i>&nbsp&nbsp网站地图</a>
		</div>
		<ul>
			<li style="border:0px"><a href="{:U('Home/Index/index')}">网站首页</a></li>
			<li><a href="{:U('Home/Secret/secret')}">隐私声明</a></li>
			<li><a href="{:U('Home/Conceal/conceal')}">法律条款</a></li>
			<li><a href="{:U('Home/Index/index')}">友情链接</a></li>
		</ul>
	</div>
	<div class="wechat">
		<img src="__PUBLIC__/home/images/wechat.jpg" />
		<h5>官方微信</h5>
	</div>
	<div class="wechat">
		<img src="__PUBLIC__/home/images/wechat.jpg" />
		<h5>官方微信</h5>
	</div>
	<div class="contact">
		<a><i class="fa fa-phone-square"></i>&nbsp&nbsp17796911177</a>
		<a href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes"><i class="fa fa-user"></i>&nbsp&nbsp在线客服</a>
		<a><i class="fa fa-envelope"></i>&nbsp&nbsp客服邮箱<p>kefu@example.com</p></a>
	</div>
	<div class="clears"></div>
	<p class="p">  2017 by 新乐市天光灯具有限公司&nbsp&nbsp&nbsp&nbsp经营许可证编号：冀000000</p>
</div>