<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/conceal.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content">
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">隐私声明</li>
			</ol>
		</div>
		<div class="conceal">
			<h2>隐私声明</h2>
			<p>注意 使用本网站前请您仔细阅读以下条款。使用本网站则表明您已明知并接受这些条款。如果不接受这些条款请不要使用本网站。</p>
			<h4>范围</h4>
			<p>本声明适用于全球欧普网站站点。欧普尊重和保护您的个人隐私，本隐私条约解释了本公司的信息、数据收集和使用行为，您一旦访问本网站，则表明您已同意本隐私条约的内容。<br/>
		注意 使用本网站前请您仔细阅读以下条款。使用本网站则表明您已明知并接受这些条款。如果不接受这些条款请不要使用本网站。</p>
			<h4>个人信息</h4>
			<p>一般情况下，您无须提供您的姓名或其它个人信息即可访问我们的因特网站点。但有时我们可能需要您提供一些信息，例如为了处理订单、与您联系、提供服务或处理工作应聘。我们可能需要这些信息完成以上事务的处理或提供更好的服务。您完全可以自行选择是否加入。</p>
			<h4>关于对您的信息的使用</h4>
			<p>您的信息只供欧普公司内部或公司相关方使用。<br/>
		用于与您保持联系，以开展客户满意度调查、市场研究或某些事务的处理。<br/>
		用于公司需求信息回馈采集。<br/>
		方便您参加欧普网站举行的各类活动。<br/>
		用于您参加公司人才招聘工作处理。</p>
			<h4>个人信息的安全</h4>
			<p>您在本公司网站提供的信息将受到严格保密，公司有义务采取适当的安全措施保护您的个人信息免于未经授权的访问、使用或泄露。</p>
			<h4>关于Cookie</h4>
			<p>当您访问本网站时，本公司可能会以“Cookie”的形式将某些信息存入您的计算机，“Cookie”是网页服务器放置在您的计算机上的一个小的文本文件，“Cookie”不能用于运行程序，也不会将病毒传播到您的计算机上。使用“Cookie”的目的是为您提供一项节省时间的简便功能，但并不表示本公司可自动获悉有关您的任何个人信息。您可以选择接受或拒绝“Cookie”。</p>
			<h4>非欧普公司站点的链接</h4>
			<p>本网站可能包含与其他站点的链接，本公司不对其他站点的隐私条约或内容负责。</p>
			<h4>本隐私条约的修改</h4>
			<p>本隐私条约的修改权和解释权属于本公司。本公司会随时更新本条约并予以公布，更新的内容自公布之日起生效，请您定期访问，以便及时了解。</p>
			<h4>联系方式</h4>
			<p>如果您有任何疑问和建议，可以通过本网站上的联系方式与本公司联系，本公司将尽最大的努力去解决。</p>
		</div>
	</div>
</block>
		