<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/product.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->
<extend name="Public/base" />
<block name="content">	  	
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">产品中心</li>
			</ol>
		</div>
		<h3 class="prod">产品分类</h3>
  		<div class="classify">
  			<ul id="cate_tabs">
  				<li><a href="#">高杆灯</a></li>
  				<li><a href="#">中杆灯</a></li>
  				<li><a href="#">道路灯</a></li>
  				<li><a href="#">庭院灯</a></li>
  				<li><a href="#">室内灯</a></li>
  			</ul>
  		</div>
  		<div id="cate_tab_content">
			<div class="filter" id="cate_tab1">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="filter" id="cate_tab2">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
			<div class="filter" id="cate_tab3">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="filter" id="cate_tab4">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="filter" id="cate_tab5">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
  		</div>
		<div class="show clears">
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
		</div>
		<div class="page"><上一页&nbsp&nbsp1 2 3 4 5 6 7 8&nbsp&nbsp下一页></div>
	</div>
</block>