<!-- <meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/product.css">
<script src="js/jquery.min.js"></script>
<script src="js/slide.js"></script> -->

<extend name="Public/base" />
<block name="content">	  	
	<!--content-->
	<div class="content clears">
		<!--面包屑-->
  		<div class="bread">
			<ol>
			    <li><a href="{:U('Home/Index/index')}">首页</a></li>
			    <li class="active">产品中心</li>
			</ol>
		</div>
		<h3 class="prod">产品分类</h3>
  		<div class="classify pro_div_find">
  			<ul id="cate_tabs" class="find1">
  				<!-- <li><a href="javascript:void(0);">高杆灯</a></li>
  				<li><a href="javascript:void(0);">中杆灯</a></li>
  				<li><a href="javascript:void(0);">道路灯</a></li>
  				<li><a href="javascript:void(0);">庭院灯</a></li>
  				<li><a href="javascript:void(0);">室内灯</a></li> -->

  				<volist name="xilie" id="vo">
  				<li><a href="javascript:void(0);" id='{$vo.id}' onclick="javascript:void(0)">{$vo.name}</a></li>
				</volist>
  			</ul>
  		</div>
  		<div id="cate_tab_content">
			<div class="filter pro_div_find" id="cate_tab1">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;">
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  				<li class="sel-show" style="display:none">
		  					<a href="javascript:void(0);" title="点击清除"></a>
		  				</li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul class="find2">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);" value="7">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li> -->
		  				<volist name="guangyuan" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul class="find3">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li> -->
		  				<volist name="yongtu" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光通量分布：</p>
		  			<ul class="find4">
		  				<li><a href="javascript:void(0);" class="sel-all" id='0'>全部</a></li>
		  				<!-- <li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li> -->
		  				<volist name="guangtongliang" id="vo">
  							<li value='{$vo.id}'><a href="javascript:void(0);" id='{$vo.id}'>{$vo.name}</a></li>
						</volist>
		  			</ul>
		  		</div>
		  	</div>
		  	<!-- <div class="filter" id="cate_tab2">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div> -->
			<!-- <div class="filter" id="cate_tab3">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光通量空间分布：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="filter" id="cate_tab4">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  	</div>
		  	<div class="filter" id="cate_tab5">
		  		<div class="select">
		  			<p>产品筛选：</p>
		  			<ul style="display:none;"></ul>
		  		</div>
		  		<div class="classify1">
		  			<p>光源种类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">LED灯</a></li>
		  				<li><a href="javascript:void(0);">太阳能灯</a></li>
		  				<li><a href="javascript:void(0);">电灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  		<div class="classify1">
		  			<p>用途分类：</p>
		  			<ul>
		  				<li><a href="javascript:void(0);" class="sel-all">全部</a></li>
		  				<li><a href="javascript:void(0);">工矿灯</a></li>
		  				<li><a href="javascript:void(0);">投光灯</a></li>
		  				<li><a href="javascript:void(0);">地插灯</a></li>
		  				<li><a href="javascript:void(0);">监控灯</a></li>
		  				<li><a href="javascript:void(0);">信号灯</a></li>
		  			</ul>
		  		</div>
		  	</div> -->
  		</div>
		<div class="show clears" id="showtime">
			<volist name="find" id="vo">
			<!-- 				<li><a href="" id='{$vo.id}'>{$vo.name}</a></li> -->
				<div name="showtime" class="pro_page_num">
					<a href="{:U('Home/Show/show')}">
						<img src="__PUBLIC__/{$vo.picture}" />
						<h3>{$vo.name}</h3>
						<span>查看详细信息</span>
					</a>
				</div>
			</volist>

			<!-- 			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/01.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div>
			<div>
				<a href="{:U('Home/Show/show')}">
					<img src="__PUBLIC__/home/images/03.jpg" />
					<h3>高杆灯</h3>
					<span>查看详细信息</span>
				</a>
			</div> -->
		</div>
		<table width="60%" align="right">
        	<tr><td><div id="barcon" name="barcon"></div></td></tr>
    	</table>
	</div>
	 <script>
	// // window.onload=function(){
	// // 	var find1 = document.getElementsByClassName('find1');
	// // 	var find11=find1[0].getElementsByTagName('a');
	// // 	var find2 = document.getElementsByClassName('find1');
	// // 	var find22=find2[0].getElementsByTagName('li');
	// // 	var find3 = document.getElementsByClassName('find3');
	// // 	var find33=find3[0].getElementsByTagName('li');
	// // 	var find4 = document.getElementsByClassName('find4');
	// // 	var find44=find4[0].getElementsByTagName('li');
	// // 	var arra =new Array()

	// // 	for(var i=0;i<find11.length;i++){
	// // 		find11[i].onclick=function(){
	// // 			arra.xilie=this.id;
	// // 			console.log(arra.xilie);
	// // 		}
	// // 	}
	// // 	console.log(find22);
	// // 	console.log(find22[1].value);
	// // 	find22[1].onclick=function(){
	// // 		console.log("lalal");
	// // 	}


	// 	// for(var i=0;i<find22.length;i++){
	// 	// 	find22[i].onclick=function(){
	// 	// 		//arra.guangyuan=this.id;
	// 	// 		console.log("lalal");
	// 	// 	}
	// 	// }
	// 	// for(var i=0;i<find33.length;i++){
	// 	// 	find33[i].onclick=function(){
	// 	// 		arra.yongtu=this.value;
	// 	// 	}
	// 	// }
	// 	// for(var i=0;i<find44.length;i++){
	// 	// 	find44[i].onclick=function(){
	// 	// 		arra.guangtongliang=this.value;
	// 	// 	}
	// 	// }
	// 	//window.location={:U(Home/Product/product,array("xilie"=>arra.xilie,"guangyuan"=>arra.guangyuan,"yongtu"=>arra.yongtu,"guangtongliang"=>arra.guangtongliang))};

	// // }
	// // 
	// window.onload=function(){
	// 	var find1 = document.getElementsByClassName('find1');
	// 	var find11=find1[0].getElementsByTagName('a');
	// 	var arra = new Array();
	// 	arra.xilie = 0;
	// 	for(var i=0;i<find11.length;i++){
	// 		find11[i].onclick=function(){
	// 			arra.xilie=this.id;
	// 			console.log(arra.xilie);
	// 		}
	// 	}

	// 	var find2 = document.getElementsByClassName('filter');
	// 	var find22=find2[0].getElementsByTagName('a');
	// 	var arra2=[0,0,0];
	// 	var k=0;
	// 	for(var i=0;i<find22.length;i++){
	// 		find22[i].onclick=function(){
	// 			setTimeout(function(){
	// 				var find222=find2[0].getElementsByClassName('seled');
	// 				//console.log(find222);
	// 				//console.log(find222[0].id);
	// 				for(var j=0;j<find222.length;j++){
	// 					arra2[k++]=find222[j].id;
	// 				}
	// 				k=0;
	// 				arra.guangyuan=arra2[0];
	// 				arra.yongtu=arra2[1];
	// 				arra.guangtongliang=arra2[2];
	// 				console.log(arra);
	// 				//window.location="{:U(Home/Product/product)}"+"/guangyuan"+"/"+arra.guangyuan+"/yongtu"+"/"+arra.yongtu+"/guangtongliang"+"/"+arra.guangtongliang;
	// 				//window.location={:U(Home/Product/product,array("xilie"=>2))};
	// 				//
	// 				// $.ajax({  
	// 				// 	  type:"get",  
	// 				// 	  url:"{:U(Home/Product/pro_ajax)}", 
	// 				// 	  data:arra, 
	// 				// 	  dataType: "html",  
	// 				// 	  success:　function(data){
	// 				// 	  	$("#包含ajaxlist的DIV层ID").html(data);               
	// 				// 	  }  
	// 				// 	});
	// 				//
	// 				//
	// 				var stateObject = {};
	// 				var title = "卓越灯具";
	// 				var newUrl = "{:U(Home/Product/product)}"+"/xilie"+"/"+arra.xilie+"/guangyuan"+"/"+arra.guangyuan+"/yongtu"+"/"+arra.yongtu+"/guangtongliang"+"/"+arra.guangtongliang;
	// 				history.pushState(stateObject,title,newUrl);
					
	// 			},1000);				
				
	// 		}
	// 	}
	// 	//console.log(arra2);
	// 	// var find22=find2[0].getElementsByClassName('seled');
	// 	//console.log(find2);
				
	// }
	// </script>

	<script>
	

	window.onload=function(){


		//var catid = 1;
		// $.ajax({
	 //        url :"{:U('Home/Product/gett')}",
	 //        data:{"name":catid},
	 //        type:'POST',
	 //        dataType:"json",       
	 //         error:function(){
	 //             console.log("chucuo");
	 //         },

	 //        success:function(data){
	 //        //     $('#catchild option[value!=""]').remove(); //清空option 每次改变option的时候载入新的数据
	 //        // //alert(data.length);
	 //        //     if(data==''){
	 //        //         vals="<option value='data[i].id'>"+"请选择子类别"+"</option>";
	 //        //         $(vals).appendTo("#catchild");
	 //        //     }else{
	 //        //         for(var i=0;i<data.length;i++){
	 //        //             var vals='';
	 //        //             vals+="<option value="+data[i].id+">"+data[i].name+"</option>";
	 //        //             $(vals).appendTo("#catchild");
	 //        //         }
	 //        //     }

	 //            console.log("lalalal");    
	                  
	 //        }
  //   	}); //$.ajax()



		var arra = new Array();
		arra.xilie=1;
		arra.guangyuan=0;
		arra.yongtu=0;
		arra.guangtongliang=0;

		var arra2 = new Array();
		arra2[0]=1;
		arra2[1]=0;
		arra2[2]=0;
		arra2[3]=0;
		$('.pro_div_find a').click(function(){
			setTimeout(function(){

				arra.xilie=$('.pro_henglan a').attr('id');
				console.log("a"+arra.xilie);
				arra2[0]=arra.xilie;

				var seled = $('.seled');

				arra.guangyuan=seled[0].id;
				console.log("b"+arra.guangyuan);
				arra2[1]=arra.guangyuan;

				arra.yongtu=seled[1].id;
				console.log("c"+arra.yongtu);
				arra2[2]=arra.yongtu;

				arra.guangtongliang=seled[2].id;
				console.log("d"+arra.guangtongliang);
				arra2[3]=arra.guangtongliang;

				//window.location="{:U(Home/Product/product)}"+"/xilie"+"/"+arra.xilie+"/guangyuan"+"/"+arra.guangyuan+"/yongtu"+"/"+arra.yongtu+"/guangtongliang"+"/"+arra.guangtongliang;
				// var stateObject = {};
				// var title = "卓越灯具";
				// var newUrl = "{:U(Home/Product/product)}"+"/xilie"+"/"+arra.xilie+"/guangyuan"+"/"+arra.guangyuan+"/yongtu"+"/"+arra.yongtu+"/guangtongliang"+"/"+arra.guangtongliang;
				// history.pushState(stateObject,title,newUrl);
				//var catid = 1;
				// var catid = JSON.stringify(arra);
				// console.log(catid);
				$.ajax({
			        url :"{:U('Home/Product/gett')}",
			        data:{"xilie":arra.xilie,"guangyuan":arra.guangyuan,"yongtu":arra.yongtu,"guangtongliang":arra.guangtongliang},
			        type:'GET',
			        dataType:"json",       
			         error:function(){
			             console.log("chucuo");
			         },

			        success:function(data){
			        //     $('#catchild option[value!=""]').remove(); //清空option 每次改变option的时候载入新的数据
			        // //alert(data.length);
			        //     if(data==''){
			        //         vals="<option value='data[i].id'>"+"请选择子类别"+"</option>";
			        //         $(vals).appendTo("#catchild");
			        //     }else{
			        //         for(var i=0;i<data.length;i++){
			        //             var vals='';
			        //             vals+="<option value="+data[i].id+">"+data[i].name+"</option>";
			        //             $(vals).appendTo("#catchild");
			        //         }
			        //     }

			            //console.log(data);    
				        $('.show>div[name="showtime"]').remove();
				        console.log(data.length);
				        if (data.length >=1) {
				        	for(var i=0 ;i<data.length;i++){
				        	var vals ='';
				        	vals+="<div name=\"showtime\"><a href=\"{:U('Home/Show/show')}\"><img src=\"__PUBLIC__\/"+data[i].picture+"\" /><h3>"+data[i].name+"</h3><span>查看详细信息</span></a></div>";
				        	$(vals).appendTo("#showtime");
				        	}	
				        }else{
				        	var vals ='';
				        	vals+="<div name=\"showtime\" style=\"width:98%;height:240px;border:0px;\"><h5 style=\"margin-top:20px;font-size:20px;color:black;\">当前类别信息正在增添中，请稍后尝试</h5></div>";
				        	$(vals).appendTo("#showtime");
				        }
				           //vals+="<option value="+data[i].id+">"+data[i].name+"</option>";
			        }//success
				    
    			}); //$.ajax()
			},50)
			
		})

	}

</script>

<script>
function goPage(pno,psize){
    var itable = document.getElementsByClassName('pro_page_num');
    var num = itable.length;//表格所有行数(所有记录数)
    console.log(num);
    var totalPage = 0;//总页数
    var pageSize = psize;//每页显示行数
    //总共分几页 
    if(num/pageSize > parseInt(num/pageSize)){   
            totalPage=parseInt(num/pageSize)+1;   
       }else{   
           totalPage=parseInt(num/pageSize);   
       }   
    var currentPage = pno;//当前页数
    var startRow = (currentPage - 1) * pageSize+1;//开始显示的行  31 
       var endRow = currentPage * pageSize;//结束显示的行   40
       endRow = (endRow > num)? num : endRow;    40
       console.log(endRow);
       //遍历显示数据实现分页
    for(var i=1;i<(num+1);i++){    
        var irow = itable[i-1];
        if(i>=startRow && i<=endRow){
            irow.style.display = "block";    
        }else{
            irow.style.display = "none";
        }
    }
    //var pageEnd = document.getElementById("pageEnd");
    var tempStr = "共"+num+"条记录 分"+totalPage+"页 当前第"+currentPage+"页";
    if(currentPage>1){
        tempStr += "<a href=\"#\" onClick=\"goPage("+(1)+","+psize+")\">首页</a>";
        tempStr += "<a href=\"#\" onClick=\"goPage("+(currentPage-1)+","+psize+")\"><上一页</a>"
    }else{
        tempStr += "首页";
        tempStr += "<上一页";    
    }

    if(currentPage<totalPage){
        tempStr += "<a href=\"#\" onClick=\"goPage("+(currentPage+1)+","+psize+")\">下一页></a>";
        tempStr += "<a href=\"#\" onClick=\"goPage("+(totalPage)+","+psize+")\">尾页</a>";
    }else{
        tempStr += "下一页>";
        tempStr += "尾页";    
    }

    document.getElementById("barcon").innerHTML = tempStr;
    
}
goPage(1,10);
</script>

</block>